/****** font-poppin ******/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.font-poppin{
    font-family: 'Poppins', sans-serif;
}

/********* Utilities/common css  ***********/

body{
    font-family: 'Poppins', sans-serif;
}

footer{
    background-color: #0B0D17;
}

.bg-header {
    background-color: #264653;
    

}

.bg-button {
    background-color: #E76F51;

}

.gray-scale{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);

}

.fa-star{
    color:#E77C40;
}

.span-txt{
    color: #E76F51;

}

.bg-tracker-title{
    background-color: tomato;
}

.bg-tracker-body{
    background-color: rgb(197, 223, 228);
}
