/****** font-poppin ******/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.font-poppin{
    font-family: 'Poppins', sans-serif;
}

/********* Utilities/common css  ***********/

.bg-header {
    background-color: #264653;
    

}

.bg-button {
    background-color: #E76F51;

}

.gray-scale{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);

}